@import "src/styles/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.timestamp_container {
    .timestamp {
        font-size: 11px;

        &.dark {
            color: $grey50;
        }

        &.light {
            color: $grey900;
        }
    }

    &.left {
        float: left;
        padding: 5px 0 10px 0;

        @include media-breakpoint-up(sm) {
            padding: 5px 0 10px 60px;
        }
    }

    &.right {
        float: right;
        padding: 5px 60px 10px 0;
    }
}
