body {
    background: $white;
    color: $black;
    font-family: $base-font-stack;
    font-size: $base-font-size;
    direction: ltr;
}

span, p, a, div, h1, h2, h3, h4, h5 {
    color: $black;
    font-family: $base-font-stack;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

b, strong {
    font-family: $black-regular-font;
    font-weight: 400;
}
