@font-face {
    font-family: 'Gotham Black Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Black.woff") format("woff");
}

@font-face {
    font-family: 'Gotham Light Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Light.woff") format("woff");
}