@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Gotham Black Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Black.woff") format("woff");
}

@font-face {
    font-family: 'Gotham Light Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Light.woff") format("woff");
}

@font-face {
    font-family: 'Gotham Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-Thin.woff") format("woff");
}

@font-face {
    font-family: 'Gotham XLight Regular';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Gotham-XLight.woff") format("woff");
}
