$base-font-stack: "Gotham Light Regular", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;

$black-regular-font: "Gotham Black Regular";

$white: #FFF;
$black: #000;

$blue100: #26C8EF;
$blue200: #007bff;

$yellow100: #FEC627;
$yellow200: #FFAB00;

$grey50: #FAFAFA;
$grey100: #F8F8F8;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey650: #6C6E7E;
$grey700: #616161;
$grey800: #404041;
$grey900: #222222;
