@import "src/styles/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.container {
    margin: 0 auto;

    .row {
        display: flex;
        justify-content: center;
        padding: 0 15px;

        .column {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 12px 10px 20px 10px $grey300;
            display: flex;
            flex: 1 0  auto;
            flex-direction: column;
            margin: 30px 0 0 0;
            max-width: 100%;
            padding: 0;

            @include media-breakpoint-up(lg) {
                max-width: 60%;
            }


            .dialog_header {
                align-items: center;
                background: linear-gradient(135deg, $yellow100 0%, $yellow200 100%);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                justify-content: space-between;
                margin: 0;

                .bot_info_container {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    padding: 20px 0 10px 0;

                    @include media-breakpoint-up(sm) {
                        padding: 20px 0;
                    }

                    @include media-breakpoint-up(xl) {
                        padding: 30px 0;
                    }


                    .bot_image {
                        padding-right: 30px;

                        img {
                            height: 50px;
                            width: 50px;

                            @include media-breakpoint-up(sm) {
                                height: 70px;
                                width: 70px;
                            }
                        }
                    }

                    .bot_info {
                        .bot_name {
                            font-family: $black-regular-font;
                            font-size: 20px;
                        }

                        .bot_status {
                            color: $white;
                            font-size: 14px;
                            font-weight: bolder;
                        }
                    }
                }

                .bot_settings_container {
                    padding: 20px 0;
                    text-align: center;

                    @include media-breakpoint-up(xl) {
                        padding: 30px 0;
                    }


                    :global .custom-switch {
                        padding-left: 28px;
                    }
                }
            }

            .dialog_container {
                display: flex;
                flex: 1 0 auto;
                flex-direction: column;
                height: calc(100vh - 230px);

                .dialog_content {
                    height: 100%;
                    overflow-x: visible;
                    overflow-y: scroll;
                    padding: 15px;

                    &::-webkit-scrollbar {
                        height: 8px;
                        width: 12px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $grey400;
                    }

                    @include media-breakpoint-up(xl) {
                        overflow-x: hidden;
                        overflow-y: scroll;
                        padding: 15px 70px 15px;
                    }


                    &.dark {
                        background-color: $grey800;

                        &::-webkit-scrollbar {
                            background-color: $grey800;
                        }
                    }

                    &.light {
                        background-color: $grey100;

                        &::-webkit-scrollbar {
                            background-color: $grey100;
                        }
                    }
                }
            }

            .dialog_footer {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 20px;

                @include media-breakpoint-up(md) {
                    padding: 20px 30px;
                }


                @include media-breakpoint-up(lg) {
                    padding: 40px 70px;
                }


                &.dark {
                    background-color: $grey700;
                }

                &.light {
                    background-color: $white;
                }
            }
        }
    }
}
