@import "src/styles/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.container {
    .content_container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;

        .message {
            display: inline-block;
            overflow: hidden;
            padding: 0 60px;
            width: 100%;
            z-index: 1;

            .body {
                background-color: $white;
                border: 1px solid $grey400;
                border-radius: 5px;
                padding: 20px;

                .header {
                    border-bottom: 1px solid $grey300;
                    padding-bottom: 20px;

                    .title {
                        color: $grey800;
                        font-size: 16px;
                        font-weight: bolder;
                        text-transform: uppercase;
                    }
                }

                .content {
                    display: flex;
                    padding-top: 20px;
                    flex-direction: column;
                    align-items: center;

                    @include media-breakpoint-up(lg) {
                        flex-direction: row;
                        align-items: normal;
                    }


                    .image {
                        cursor: pointer;
                        padding: 0 0 20px 0;

                        @include media-breakpoint-up(lg) {
                            padding: 0;
                        }

                        img {
                            display: flex;
                            width: 100px;
                        }
                    }

                    .info_container {
                        display: flex;
                        flex-direction: column;
                        padding: 0;
                        width: 100%;

                        @include media-breakpoint-up(lg) {
                            padding: 0 0 0 20px;
                        }

                        .text {
                            color: $grey800;
                            flex: 1 0 0;
                            font-size: 12px;
                            font-weight: bolder;
                            line-height: 18px;
                            word-break: break-all;
                            padding-bottom: 10px;

                            @include media-breakpoint-up(xl) {
                                font-size: 13px;
                            }
                        }

                        .link {
                            align-self: flex-end;

                            a {
                                color: $blue200;
                                font-size: 13px;
                                font-weight: bolder;
                                line-height: 18px;
                                word-break: break-all;

                                @include media-breakpoint-up(xl) {
                                    font-size: 14px;
                                }


                                &:hover {
                                    color: $yellow100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.left {
        float: left;
        padding-top: 20px;
        width: 100%;
    }
}
