@import "src/styles/variables";

.container {
    .content {
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid $grey300;

        .pencil {
            padding: 0px 5px 0 15px;
        }

        .input {
            flex: 1 0 0;

            input {
                border: 0;
                padding: 0 5px 0 5px;
                height: 35px;
                line-height: 18px;
                font-size: 14px;
                font-weight: bold;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .send {
            padding: 0 15px 0 15px;
            text-align: center;
            cursor: pointer;
            line-height: 18px;
            font-size: 14px;
            font-weight: bold;

            &:hover {
                color: $yellow100;
            }
        }
    }

    &.dark {
        .content {
            .pencil {
                svg {
                    color: $white;
                }
            }

            .input {
                input {
                    background-color: $grey700;
                    color: $white;

                    &:focus {
                        background-color: $grey700;
                    }

                    &::placeholder {
                        color: $grey300;
                    }
                }
            }

            .send {
                color: $blue100;
            }
        }
    }

    &.light {
        .content {
            .pencil {
                svg {
                    color: $grey600;
                }
            }

            .input {
                input {
                    background-color: $white;
                    color: $grey900;

                    &:focus {
                        background-color: $white;
                    }

                    &::placeholder {
                        color: $grey600;
                    }
                }
            }

            .send {
                color: $blue200;
            }
        }
    }
}
