.container {
    .content_container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;

        .message {
            display: inline-block;
            overflow: hidden;
            padding: 0 60px;
            z-index: 1;
            width: 100%;

            .body {
                display: inline-block;

                .content {
                    .image {
                        img {
                            border-radius: 5px;
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    &.left {
        float: left;
        padding-top: 20px;
        width: 100%;
    }
}
